<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{{_sections.head}}}
    <title>{{title}}</title>
    {{> resource}}
</head>
<body>
{{{body}}}
</body>
</html>