a.ColumnTitleIndexA{
    display:block;padding: 0 10px;
    background: #ffffff;margin-top: 10px;
}
h2.ColumnTitleIndex{
    width:100%; height: 40px; line-height: 40px; position: relative;
    font-size: 14px; color:#BF9B69; font-weight: normal;
    border-bottom: 1px solid #E2E1E6;
}
h2 img{
    position: absolute; height:12px;
    right:0; top:14px;
}