#stock,
#stock .swiper-wrapper{
    width:100%; height: 100px;
}
#stock .swiper-slide{
    width:33.333%; height: 100px; padding: 10px 0 10px 35px;
    text-align:left;
}
#stock .swiper-slide p:first-child{
    height:25px; line-height: 25px;
    font-size: 12px;
}
#stock .swiper-slide p:nth-child(2){
    height:30px; line-height: 30px;
    font-size: 14px; font-weight: bold;
}
#stock .swiper-slide p:nth-child(3){
    height:25px; line-height: 25px;
    font-size: 12px;
}
#stock .swiper-slide p span{

}
#stock .swiper-slide p em{

}
#stock .up{
    color: #E63945;
}
#stock .down{
    color: #1a9f00;
}