<!DOCTYPE html>
<html lang="en">
<head>
    <title>reactwebpack</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<!--https://www.cnblogs.com/wonyun/p/6030090.html-->
<div id="root"><%= component %></div>
<script src="vendor.js"></script>
</body>
</html>